<%- include("./shared/static/header") %>
<div class="bg-black">
    <div class="container ">
      <div class="row vh-100">
        <div class="col-md-8 m-auto align-self-center">
          <form class="form row" action="/admin" method="post">
            <h2 class="text-center text-white">Admin login</h2>
            <input placeholder="Enter your email" class="input my-3" value="<%= oldData?.email %>" type="text" name="email" >
            <% if (emailError) { %>
              <div class="text-danger  text-center  p-1">
                <%= emailError %> 
              </div>
              <% } %>
              <input placeholder="*********" class="input my-3" value="<%= oldData?.password %>" type="password" name="password" >
              <% if (passwordError) { %>
                <div class="text-danger text-center p-1">
                  <%= passwordError %>
                </div>
                <% } %>
            <button class="w-50">Login</button>
          </form>
        </div>
       
      </div>
     
    </div>
  </div>
 
 
  <%- include("./shared/static/footer") %>